<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<h1>Venta de Boletos</h1>
<h2>Ingrese sus datos</h2>
    <br>
<p>Ingrese nombre</p>

<input [(ngModel)]="nombre">
<br>
<p>Ingrese apellido</p>
<input [(ngModel)]="apellido">
<br>
<p>Ingrese edad</p>
<input [(ngModel)]="edad">
<br>
<p>Ingrese direccion</p>
<input [(ngModel)]="direccion">
<br>
<p>Ingrese celular</p>
<input [(ngModel)]="celular">
<br>
<br>
  <button (click)="registro()">Guardar</button>  


  
</body>
</html>

